NODE_ENV=production
PORT=10000

# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Security
JWT_SECRET=
SESSION_SECRET=
ADMIN_MASTER_PASSWORD=

# Paystack
PAYSTACK_SECRET=
PAYSTACK_PUBLIC=
MIN_TOPUP_AMOUNT=4
PAYSTACK_CALLBACK_URL=https://your-domain.com/dashboard.html

# CORS
CORS_ORIGIN=https://your-domain.com
